
# --- General ---
DEBUG=True
BOT_TOKEN=""  # Telegram Bot Token
DB_ENGINE="sqlite"  # sqlite | postgres | mysql

# --- App ---
USE_HOUSEKEEPER=False
APP_NAME="TGNMS"
VERSION="0.2.0"

# --- Network ---
NETWORK_PING_COUNT=4
NETWORK_PING_INTERVAL=2
NETWORK_PING_TIMEOUT=10
NETWORK_SNMP_RO=""
NETWORK_SNMP_RW=""

# --- Email Notifications ---
EMAIL_SMTP_HOST=smtp.mailserver.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER=""
EMAIL_SMTP_PASSWORD=""
EMAIL_FROM=no-reply@example.com
EMAIL_ENABLE_TLS=True
EMAIL_SUPPORT_EMAIL=no-reply@example.com
EMAIL_ADMIN_EMAIL=no-reply@example.com

# --- Misc ---
TIMEZONE=UTC
MAX_PAYLOAD_SIZE_MB=10
EXCLUDED_SUBSTRINGS=""

# --- TFA ---
TFA_ENABLE=False
TFA_MANDATORY=""

# --- Cache ---
USE_CACHE=False
CACHE_TYPE=SimpleCache  # SimpleCache | RedisCache
CACHE_REDIS_HOST=localhost
CACHE_REDIS_PORT=6379
CACHE_REDIS_DB=1
CACHE_REDIS_PASSWORD=""

# --- PostgreSQL ---
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# --- MySQL ---
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DB=""

# --- SQLite ---
SQLITE_FILE=app.db

# --- MongoDB ---
USE_MONGODB=False
MONGO_URI=""
MONGO_DB_NAME=""
MONGO_PORT=""
MONGO_USER=""
MONGO_PASSWORD=""

# --- Redis ---
USE_REDIS=False
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB=0

# --- Security ---
SECURITY_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_ALGORITHM=HS256
SECURITY_USE_SPECIAL_CHAR=False
SECURITY_MIN_LENGTH=8
SECURITY_JWT_SECRET=""
SECURITY_ADMIN_PASSWORD=""

# --- Firebase ---
USE_FIREBASE=False

PHPIPAM_URL=https://ipam.example.com/api
PHPIPAM_APP_ID=my_app
PHPIPAM_USER=apiuser
PHPIPAM_PASS=apipass
