# Python кэш-файлы и временные файлы
*.pyc
*.pyo
*.pyd
**/__pycache__/
*.sqlite
*.db
*pid.*

# Виртуальные окружения
.idea/
env/
.venv/
.venv/*
venv/
venv/*
env*/ # на случай окружений с разными названиями
*.env # файлы конфигурации окружений
.env
.idx

# Файлы и каталоги, связанные с пакетами
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Логи и файлы дампов
logs/
*.log
dump.rdb

# IDE и редакторы
.idea/
.vscode/
.DS_Store
.history/
.vs/

# Миграции базы данных
migrations/
instance/
data/

# Дополнительно, если требуется
*.bak # резервные файлы
serviceAccountKey.json
pid.run
api_test/
env
.env
./serviceAccountKey.json
.local
.cache/
.cache/*
.github/
.github/*
.bash_history
.python_history