[Unit]
Description=Aio Tgnsa Service
After=network.target

[Service]
# Use user and group 'tgnms' for running the service
User=tgnms
Group=tgnms

# Application working directory
WorkingDirectory=/opt/tgnms

# Path to Python interpreter and main script
ExecStart=/opt/tgnms/venv/bin/python /opt/tgnms/main.py

# Restart service if failed
Restart=always
RestartSec=3s

# Standard output and errors to systemd journal
StandardOutput=journal
StandardError=journal

# Setting environment variables
Environment="PYTHONUNBUFFERED=1"
Environment="PATH=/opt/tgnms/venv/bin:$PATH"

# Resource usage restrictions
LimitNOFILE=65536
LimitNPROC=512

# Protection against accidental process termination
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=true
PrivateTmp=true

# Permission to write to logs and data directories
ReadWritePaths=/opt/tgnms/logs
ReadWritePaths=/opt/tgnms/data

PrivateDevices=true

[Install]
WantedBy=multi-user.target
