/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    color: #333;
}

h1 {
    color: #333;
}

/* Навигационная панель */
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.nav-item {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #ddd;
    cursor: pointer;
}

.nav-item.active {
    background-color: #4caf50;
    color: white;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    cursor: pointer;
    position: relative;
}

.sort-icon {
    font-size: 0.8em;
    color: #888;
    margin-left: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

th:hover .sort-icon {
    color: #333;
}

/* Уведомления */
#notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

#notification.success {
    background: #4caf50;
    color: #fff;
}

#notification.error {
    background: #f44336;
    color: #fff;
}

/* Кнопки */
button {
    margin: 5px;
    border-radius: 4px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

.grant-admin-button {
    background-color: #4caf50; /* Зеленый для добавления */
}

.revoke-admin-button {
    background-color: #f44336; /* Красный для удаления */
}

.delete-user-button {
    background-color: #ff9800; /* Оранжевый для удаления */
}

.completed-button {
    background-color: #4caf50; /* Зеленый цвет для завершения */
}

.delete-button {
    background-color: #f44336; /* Красный цвет для удаления */
}

/* Статусы */
.status-ok {
    color: green;
    font-weight: bold;
}

.status-failed {
    color: red;
    font-weight: bold;
}

.ok {
    color: green;
}

.failed {
    color: red;
}

.error {
    color: orange;
}
