<table>
    <thead>
    <tr>
        <th>Component Name</th>
        <th>Status</th>
        <th>Details</th>
        <th>Inform</th>
        <th>Last Checked</th>
    </tr>
    </thead>
    <tbody>
    {% for name, status in statuses.items() %}
    <tr>
        <td title="{{ status.tooltip }}">{{ status.title }}</td>
        <td class="{{ status['status'] | lower }}">
            {{ status_icons.get(status['status'], "❔") }} {{ status['status'] }}
        </td>
        <td>{{ status['details'] or "No details available" }}</td>
        <td>{{ status['inform'] or "N/A" }}</td>
        <td>{{ status['last_checked'] | round(2) if status['last_checked'] else "N/A" }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>