<table id="tasksTable" data-sort-order="asc">
    <thead>
    <tr>
        <th onclick="sortTable(0)">ID</th>
        <th onclick="sortTable(1)">Name</th>
        <th onclick="sortTable(2)">Trigger</th>
        <th onclick="sortTable(3)">Next Run Time</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.trigger }}</td>
        <td>{{ task.next_run_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>