<button onclick="sendAjax('/health/action', 'reload')">Reload Health Checks</button>

<h2>Component Status</h2>
<table data-sort-order="asc">
    <thead>
    <tr>
        <th>Component</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for name, status in health_statuses.items() %}
    <tr>
        <td title="{{ status.tooltip }}">{{ status.title }}</td>
        <td class="{{ status['status'] | lower }}">
            {{ status_icons.get(status['status'], "❔") }} {{ status['status'] }}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>