<table data-sort-order="asc">
    <thead>
    <tr>


        <th onclick="sortTable(0)">ID</th>
        <th onclick="sortTable(1)">First Name</th>
        <th onclick="sortTable(2)">Last Name</th>
        <th>Admin</th>
        <th>Allowed</th>
        <th>Verified</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.tg_id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>
            {% if user.is_admin %}
            <span class="status-ok">✔ Yes</span>
            {% else %}
            <span class="status-failed">✖ No</span>
            {% endif %}
        </td>
        <td>
            {% if user.is_allowed %}
            <span class="status-ok">✔ Yes</span>
            {% else %}
            <span class="status-failed">✖ No</span>
            {% endif %}
        </td>
        <td>
            {% if user.is_verified %}
            <span class="status-ok">✔ Yes</span>
            {% else %}
            <span class="status-failed">✖ No</span>
            {% endif %}
        </td>
        <td>
            <button
                    class="admin-button grant-admin-button"
                    onclick="sendAjax('/admin/users', 'grant_admin', {{ user.tg_id }})">
                Grant Admin
            </button>
            <button
                    class="admin-button revoke-admin-button"
                    onclick="sendAjax('/admin/users', 'revoke_admin', {{ user.tg_id }})">
                Revoke Admin
            </button>
            <button class="delete-user-button" onclick="deleteUser('{{ user.tg_id }}')">Delete</button>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
